@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #171719;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #fff;
}

.container {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.btn {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #000;
  cursor: pointer;
}

.header {
  padding-top: 22px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
}

.header__volume {
  display: flex;
  align-items: center;
}

.sliderContainer {
}

.slider {
  -webkit-appearance: none;
  width: 200px;
  height: 2px;
  background: #a8a0a0;
  outline: none;
  border-radius: 8px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 4px;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 20px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 4px;
}

.volumeBtn {
  font-size: 14px;
  outline: none;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.644);
  color: #fff;
  margin-left: 16px;
  cursor: pointer;
  transition: all 0.2s;
}
.volumeBtn:hover {
  background-color: rgba(6, 8, 22, 0);
}

.header__nav {
  display: flex;
}

.header__link {
  color: #fff;
  transition: all 0.2s;
}
.header__link:hover {
  opacity: 0.7;
}

.main {
}

.title {
  text-align: center;
  margin-bottom: 62px;
}

.title__main {
  font-weight: 700;
  font-size: 100px;
  margin-bottom: 32px;
}

.title__descr {
  font-size: 30px;
}

.player {
  text-align: center;
  margin-bottom: 62px;
}

.player__btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
.player__btn:hover {
  opacity: 0.7;
}

.play {
  height: 80px;
  width: 80px;
  border-left: 70px solid #fff;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 0 solid #fff;
}

.pause {
  height: 80px;
  width: 80px;
  border-left: 25px solid #fff;
  border-right: 25px solid #fff;
  border-top: 0 solid transparent;
  border-bottom: 0 solid transparent;
}

.sound {
  margin-bottom: 60px;
}

.sound__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.sound__item {
}

.sound__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sound__img {
  width: 124px;
  height: 124px;
  margin-bottom: 8px;
}

.sound__title {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 18px;
}

.sliderAmbient {
  width: auto;
}

.sliderAmbient::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.sliderAmbient::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.aboutTitle {
  margin-top: 40px;
}

.aboutTitle__link {
  color: #fff;
  transition: all 0.2s;
}
.aboutTitle__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 730px) {
  .header__inner {
    display: block;
  }

  .title__main {
    font-size: 50px;
  }

  .title__descr {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .header__volume {
    flex-direction: column;
  }

  .sliderContainer {
    margin-bottom: 10px;
  }
}
